html, body{
    width: 100%;
    height: 100%;
    display: block;

    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: red;
}

.content {
    background-color: gray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: blue;
}